// Todo:
// - Add responsive design for different screen sizes (wide on medium and up)
// - Improve accessibility features

.slotMachine {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(
		135deg,
		#e29b17 0%,
		#f3cb7f 25%,
		#e29b17 50%,
		#f3cb7f 75%,
		#e29b17 100%
	);
	padding: 15px;
	border-radius: 20px;
	box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.75);
	border: 5px solid #9c0202;

	@include respond-to("medium") {
		max-width: 400px;
	}

	.royalSpinImage {
		width: 100%;
		max-width: 600px;
		height: auto;
		margin-bottom: 1rem;
	}

	.reelsContainer {
		display: flex;
		justify-content: center;
		width: 100%;
		gap: 5px;
		margin-bottom: 20px;
		background: #d90d0d;
		background: linear-gradient(0deg, #d90d0d 8%, #9c0202 50%);
		padding: 15px;
		border-radius: 15px;
	}

	.gameMessageContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 4.5rem;
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 15px;
		padding: 10px 20px;
		border-radius: 10px;
		background-color: #ffffff;
		color: #000000;
		box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
	}

	.controlsContainer {
		display: grid;
		grid-template-columns: auto auto;
		align-items: flex-start;
		gap: 15px;
		width: 100%;
		padding: 10px;

		.coinDisplay {
			grid-column: 1 / 2;
			font-size: 1.5rem;
			display: flex;
			gap: 15px;
			flex-direction: column;

			span {
				font-weight: 700;
				font-size: 1.25rem;
				line-height: 1rem;
				padding: 10px;
				border-radius: 10px;
				background-color: #ffffff;
				color: #000000;
				box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.2);
			}

			a {
				font-size: 0.85rem;
				border-radius: 10px;
			}
		}

		.buttonsContainer {
			grid-column: 2 / 3;
			display: flex;
			gap: 10px;
			flex-direction: column;
			align-items: end;
			width: 100%;
			text-align: center;

			.spinButton {
				width: 90%;
				height: 75px;
				font-size: 2rem;
				line-height: 2rem;
			}

			.testToggle {
				width: 90%;
				height: fit-content;
				border-radius: 10px;
				height: fit-content;
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}

				&:active {
					opacity: 1;
				}
			}

			.testButtons {
				display: flex;
				gap: 10px;
				justify-content: flex-end;
				width: 100%;

				.testButton {
					width: 90%;
					height: fit-content;
					border-radius: 10px;
					height: fit-content;
				}
			}
		}
	}
}
