.button {
	padding: 10px;
	text-align: center;
	font-size: 1rem;
	line-height: 1rem;
	font-family: $font-buttons;
	letter-spacing: 0.15rem;
	border: none;
	border-radius: 10px;
	background: #9c0202;
	background: linear-gradient(
		0deg,
		rgba(156, 2, 2, 1) 0%,
		rgba(217, 13, 13, 1) 50%,
		rgba(156, 2, 2, 1) 100%
	);
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.75);
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);

	&:disabled {
		filter: brightness(0.75);
		cursor: not-allowed;
	}

	&:hover:not(:disabled) {
		filter: brightness(0.85);
	}
}
