.balance {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	gap: 20px;

	.balanceContainer {
		font-size: 1.5rem;

		p {
			margin: 0.5rem 0 1rem;
		}

		span {
			font-weight: 700;
			font-size: 1.25rem;
			line-height: 1rem;
			padding: 10px;
			border-radius: 10px;
			background-color: #ffffff;
			color: #000000;
			box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.2);
		}

		.addCoinButtons {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: center;
			align-items: center;

			p {
				margin-bottom: 0.5rem;
				font-size: 1.2rem;
			}

			button {
				padding: 10px 15px;
				width: 100%;
				font-size: 1rem;
				border-radius: 10px;
				border: none;
				background-color: #f29924;
				color: #ffffff;
				cursor: pointer;
				box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
				transition: background-color 0.3s ease;
				text-transform: uppercase;
				font-family: $font-buttons;
				letter-spacing: 0.1rem;
				text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);

				@media (hover: hover) {
					&:hover {
						background-color: #d96c0d;
					}
				}
			}

			.resetBtn {
				font-size: 0.8rem;
				background-color: #9c0202;
				opacity: 0.75;
				width: fit-content;

				@media (hover: hover) {
					&:hover {
						background-color: #9c0202;
					}
				}
			}

			.customAmountForm {
				margin: 15px 0 30px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				align-items: center;

				span {
					font-size: 0.9rem;
					font-weight: 500;
				}

				label {
					font-size: 1.2rem;
				}

				input {
					padding: 10px;
					font-size: 0.9rem;
					border-radius: 10px;
					border: 2px solid #d96c0d;
					width: 150px;
					text-align: center;
				}
			}
		}
	}
}
