// Typography styles and font imports
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Limelight&family=Quicksand:wght@300..700&display=swap");
$font-buttons: "Caprasimo", serif;
$font-headings: "Limelight", serif;
$font-body: "Quicksand", sans-serif;

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-family: $font-headings;
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 2.5rem;
	margin: 2rem 0 1rem;
}

.pageIntro {
	font-size: 1.15rem;
	margin: 0;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 20px;
	color: #000000;
	text-align: center;
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}
