*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	background: #d15d04;
	background: linear-gradient(
		0deg,
		#d15d04 0%,
		#d96c0d 50%,
		#f2a711 100%
	);
	color: #ecf0f1;
}
