body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;

}
