.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	text-align: center;
	gap: 20px;

	.linkContainer {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
