.imageContainer {
	width: 100px;
	height: 125px;
	overflow: hidden;
	border: 2px solid #000;
	border-radius: 10px;
	position: relative;
	background-color: #fff;

	.reelStrip {
		display: flex;
		flex-direction: column;
		height: calc(125px * 12);
		transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		will-change: transform;

		&.spinning {
			transition: transform 0.1s linear;
		}
	}

	.slotItem {
		width: 100%;
		height: 125px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: auto;
			max-height: 100%;
			object-fit: contain;
		}
	}
}
