.header {
	padding: 20px;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid #d96c0d;
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);

	.nav {
		display: flex;
		font-size: 1rem;
		align-items: center;
		justify-content: center;

		a {
			color: #ecf0f1;
			text-decoration: none;
			margin: 0 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
